<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../css/cssMain.css" rel="stylesheet">
    <link href="../css/cssAdmin.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{>header}}

    {{>dataContainer}}
</body>

</html>


<script>
    setInterval(() => {
        window.location.reload()
    }, 8000)
</script>