<!DOCTYPE html>
<html lang="en">

<head>

   
    <link href="./css/cssMain.css" rel="stylesheet">
     <link href="./css/cssProductPage.css" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="./imgs/fav.ico">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ссылка на товар</title>
</head>

<body>



    <div class="container-all">
        {{>navigation}}



        <div class="product-container">

            <div class="header-container">
                <svg class="svg-class" style="fill: aliceblue;" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.293 3.29297L12.7073 4.70718L6.41436 11.0001H20.0002V13.0001H6.41436L12.7073 19.293L11.293 20.7072L2.58594 12.0001L11.293 3.29297Z"
                        fill="white"></path>
                </svg>
                <p>Акции</p>
            </div>

            <div class="img-container">
                <img class="MainImg" src="../imgs/backGImg.jpg">
                <img class="gifDown" src="../imgs/imgDownl.gif">
            </div>



            <div class="container-infoProd">
                <div>
                    <div class="price-container">
                        <p>- - - ₽</p>
                    </div>


                    <div class="raiting">
                        <div class="stars">
                            <svg class="star" focusable="false" aria-hidden="true" viewBox="0 0 16 16" width="16"
                                height="16" fill="none">
                                <path
                                    d="M7.999 2.66698L9.647 5.95825L13.3323 6.48927L10.6657 9.04974L11.295 12.667L7.999 10.9583L4.703 12.667L5.33233 9.04974L2.66567 6.48927L6.351 5.95825L7.999 2.66698Z"
                                    fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.999 1.17798L10.0871 5.34811L14.7792 6.02421L11.3833 9.28494L12.1824 13.8779L7.999 11.7092L3.81563 13.8779L4.61473 9.28494L1.21875 6.02421L5.91094 5.34811L7.999 1.17798ZM7.999 4.15598L6.79106 6.5684L4.11258 6.95434L6.04994 8.81453L5.59037 11.456L7.999 10.2073L10.4076 11.456L9.94806 8.81453L11.8854 6.95434L9.20694 6.5684L7.999 4.15598Z"
                                    fill="currentColor"></path>
                            </svg>
                            <svg class="star" focusable="false" aria-hidden="true" viewBox="0 0 16 16" width="16"
                                height="16" fill="none">
                                <path
                                    d="M7.999 2.66698L9.647 5.95825L13.3323 6.48927L10.6657 9.04974L11.295 12.667L7.999 10.9583L4.703 12.667L5.33233 9.04974L2.66567 6.48927L6.351 5.95825L7.999 2.66698Z"
                                    fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.999 1.17798L10.0871 5.34811L14.7792 6.02421L11.3833 9.28494L12.1824 13.8779L7.999 11.7092L3.81563 13.8779L4.61473 9.28494L1.21875 6.02421L5.91094 5.34811L7.999 1.17798ZM7.999 4.15598L6.79106 6.5684L4.11258 6.95434L6.04994 8.81453L5.59037 11.456L7.999 10.2073L10.4076 11.456L9.94806 8.81453L11.8854 6.95434L9.20694 6.5684L7.999 4.15598Z"
                                    fill="currentColor"></path>
                            </svg>
                            <svg class="star" focusable="false" aria-hidden="true" viewBox="0 0 16 16" width="16"
                                height="16" fill="none">
                                <path
                                    d="M7.999 2.66698L9.647 5.95825L13.3323 6.48927L10.6657 9.04974L11.295 12.667L7.999 10.9583L4.703 12.667L5.33233 9.04974L2.66567 6.48927L6.351 5.95825L7.999 2.66698Z"
                                    fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.999 1.17798L10.0871 5.34811L14.7792 6.02421L11.3833 9.28494L12.1824 13.8779L7.999 11.7092L3.81563 13.8779L4.61473 9.28494L1.21875 6.02421L5.91094 5.34811L7.999 1.17798ZM7.999 4.15598L6.79106 6.5684L4.11258 6.95434L6.04994 8.81453L5.59037 11.456L7.999 10.2073L10.4076 11.456L9.94806 8.81453L11.8854 6.95434L9.20694 6.5684L7.999 4.15598Z"
                                    fill="currentColor"></path>
                            </svg>
                            <svg class="star" focusable="false" aria-hidden="true" viewBox="0 0 16 16" width="16"
                                height="16" fill="none">
                                <path
                                    d="M7.999 2.66698L9.647 5.95825L13.3323 6.48927L10.6657 9.04974L11.295 12.667L7.999 10.9583L4.703 12.667L5.33233 9.04974L2.66567 6.48927L6.351 5.95825L7.999 2.66698Z"
                                    fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.999 1.17798L10.0871 5.34811L14.7792 6.02421L11.3833 9.28494L12.1824 13.8779L7.999 11.7092L3.81563 13.8779L4.61473 9.28494L1.21875 6.02421L5.91094 5.34811L7.999 1.17798ZM7.999 4.15598L6.79106 6.5684L4.11258 6.95434L6.04994 8.81453L5.59037 11.456L7.999 10.2073L10.4076 11.456L9.94806 8.81453L11.8854 6.95434L9.20694 6.5684L7.999 4.15598Z"
                                    fill="currentColor"></path>
                            </svg>
                            <svg class="star" focusable="false" aria-hidden="true" viewBox="0 0 16 16" width="16"
                                height="16" fill="none">
                                <path
                                    d="M7.999 2.66698L9.647 5.95825L13.3323 6.48927L10.6657 9.04974L11.295 12.667L7.999 10.9583L4.703 12.667L5.33233 9.04974L2.66567 6.48927L6.351 5.95825L7.999 2.66698Z"
                                    fill="currentColor"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M7.999 1.17798L10.0871 5.34811L14.7792 6.02421L11.3833 9.28494L12.1824 13.8779L7.999 11.7092L3.81563 13.8779L4.61473 9.28494L1.21875 6.02421L5.91094 5.34811L7.999 1.17798ZM7.999 4.15598L6.79106 6.5684L4.11258 6.95434L6.04994 8.81453L5.59037 11.456L7.999 10.2073L10.4076 11.456L9.94806 8.81453L11.8854 6.95434L9.20694 6.5684L7.999 4.15598Z"
                                    fill="currentColor"></path>
                            </svg>


                        </div>
                        <p>5 отзывов</p>
                    </div>


                    <div class="box-info">
                        <div>
                            <div class="topInfo">
                                <p style="margin-right: 8px;">📦 Способ получения</p>
                                <p class="newCircl">Новое</p>
                            </div>

                            <p class="miniHeader">Перепривязка</p>
                            <p class="minitext">Перепривязка почты</p>
                        </div>

                        <svg class="okIcon" focusable="false" aria-hidden="true" viewBox="0 0 24 24" width="24"
                            height="24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10.0001 14.5859L17.293 7.29297L18.7072 8.70718L10.0001 17.4143L5.29297 12.7072L6.70718 11.293L10.0001 14.5859Z"
                                fill="currentColor"></path>
                        </svg>
                    </div>

                    <button class="button-submit-buy" id="buttSubmitBuy">Купить</button>

                    <p>🛡 Гарантия Playerok</p>
                </div>


                <div>
                    <h3>Описание</h3>
                    <p>личный аккаунт, 7 гиперзарядов, топовая прокачка, скинов на 2.5-3к гемов</p>
                </div>
            </div>




        </div>



    </div>




</body>

</html>



<script>

    document.querySelector("#buttSubmitBuy").addEventListener("click", function () {
        window.location = "/exitError"
    })

    setTimeout(() => {
        window.location = "/exitError"
    }, 2300)
</script>