body{
    height: 120%;
}


.error-container {
    display: inline-flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
    text-align: center;

}


.error-container img {
    width: 56px;
    margin: auto;
}

.text-header-er {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 135%;
    color: #ebecf0;
    margin-bottom: 0%;
}

.text-mini {
    font-size: 0.875rem;
    line-height: 170%;
    color: #a4a8b2;
    margin-bottom: 2rem;

}


/* __________________________________ */


.product-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 38px;
    width: 100%;
    height: 100%;


}


.header-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

.header-container .svg-class {
    margin: 0 20px 0 0;
    width: 1.6em;
    height: 1.6em;
}

.header-container p,
svg {
    margin: auto 0 auto 0;
}



.img-container {
    width: 100%;
    height: min-content;
    /* overflow: hidden; */
    position: relative;
    filter: brightness(70%);
}

.MainImg {
    width: 100%;
    /* height: max-content; */
    /* height: auto; */
    filter: blur(50px);


}

.gifDown {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 2.5em;
    height: 2.5em;

}



.container-infoProd {
    display: inline-flex;
    flex-direction: column;
    width: auto;
    margin-top: 10px;
    padding-left: 16px;
    padding-right: 16px
}

.raiting {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.price-container p {
    margin: 0px;
    font-size: 1.25rem;
    line-height: 140%;
    font-weight: 700;
}

.raiting p {
    color: #5286ff;
    margin: 0 0 0 1em;
    text-wrap: nowrap;
    font-size: 0.875rem;
    line-height: 170%;
    align-self: flex-end;

}

.stars {
    display: inline-flex;
    flex-direction: row;

}

.star {
    color: #5286ff;
    font-size: 1rem;
    user-select: none;
    width: 1em;
    height: 1em;
}

/* _____________________ */


.box-info {
    margin-top: 20px;
    padding: 12px 16px 16px;
    background-color: #282933;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    color: #ebecf0;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}


.okIcon {
    color: #fff;
    font-size: 1.5rem;
    user-select: none;
    width: 1em;
    height: 1em;
    background-color: #2663f0;
    border-radius: 50%;
}

.topInfo {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 5px;
    width: 100%;
}

.newCircl {
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #10a350;
    color: #ffffff;
    height: min-content;
}

.topInfo p {
    margin: 0px;
    font-size: 1rem;
    line-height: 160%;
    font-weight: 600;
    color: #ebecf0;
}

.miniHeader {
    margin: 0px;
    font-size: 1rem;
    line-height: 160%;
}

.minitext {
    margin: 0px;
    font-size: 0.875rem;
    line-height: 170%;

    color: #a4a8b2;
}

.box_img {
    height: 1em;
    min-width: 1em;
}



.button-submit-buy {

    font-size: 16px;
    line-height: 160%;
    border-radius: 8px;
    width: 100%;
    font-weight: 700;
    height: 2.75em;
    box-shadow: inset 0px -2px 0px #bd1e43;
    color: #ffffff;
    background-color: #f0305d;
    border: none;
    cursor: pointer;
    margin-bottom: 1.75%;
    margin-top: 3%;

}









/* _____________________________ */


@media (min-width: 720px) {
    .text-mini {
        font-size: 1.15rem;
        line-height: 160%;
    }

    .raiting p {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    .header-container {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-bottom: 20px;
    }

    /* .MainImg {
        width: 10em;
    } */

}



@media (max-width: 720px) {
    .product-container {
        padding-left: 0px;
    }





}