<div class="container-left-panel">
    <svg class="svg-logo-big" focusable="false" aria-hidden="true" viewBox="0 0 174 42" width="100%" height="100%"
        fill="none" xmlns="http://www.w3.org/2000/svg" cursor="pointer">
        <path
            d="M136.566 33.411C143.426 33.411 147.588 28.8798 147.588 22.161C147.588 15.4281 143.426 10.8968 136.566 10.8968C129.705 10.8968 125.543 15.4281 125.543 22.161C125.543 28.8798 129.705 33.411 136.566 33.411ZM136.608 28.1696C134.037 28.1696 132.617 25.7264 132.617 22.1184C132.617 18.4963 134.037 16.0389 136.608 16.0389C139.094 16.0389 140.515 18.4963 140.515 22.1184C140.515 25.7264 139.094 28.1696 136.608 28.1696Z"
            fill="white"></path>
        <path
            d="M151.147 32.9991H158.093V26.4508L159.499 24.7463L164.698 32.9991H172.723L164.669 20.6838L172.411 11.1809H164.542L158.405 18.9934H158.093V3.9082H151.147V32.9991Z"
            fill=" white"></path>
        <path
            d="M2.20117 32.9991H9.23242V23.965H14.0051C20.6671 23.965 24.829 20.0162 24.829 13.9792C24.829 7.99911 20.7523 3.9082 14.2182 3.9082H2.20117V32.9991ZM9.23242 18.4252V9.57582H12.6983C15.8517 9.57582 17.5421 11.2804 17.5421 13.9792C17.5421 16.6639 15.8517 18.4252 12.6983 18.4252H9.23242Z"
            fill="#1453FF"></path>
        <path d="M35.2409 3.9082H28.2949V32.9991H35.2409V3.9082Z" fill="#1453FF"></path>
        <path
            d="M45.8127 33.3684C48.8524 33.3684 50.9547 32.1895 52.1479 29.9593H52.3184V32.9991H58.8524V18.1696C58.8524 13.5531 54.7473 10.8968 49.1934 10.8968C43.3269 10.8968 40.003 13.8514 39.449 17.8287L45.8553 18.0559C46.1536 16.6639 47.3042 15.8116 49.1365 15.8116C50.8411 15.8116 51.9206 16.6355 51.9206 18.0985V18.1696C51.9206 19.5048 50.4718 19.7889 46.7502 20.1156C42.3326 20.4849 38.6394 22.1184 38.6394 26.948C38.6394 31.2662 41.6365 33.3684 45.8127 33.3684ZM47.9576 28.823C46.3525 28.823 45.2161 28.0559 45.2161 26.6071C45.2161 25.2008 46.324 24.3485 48.2985 24.0502C49.5911 23.8656 51.182 23.5815 51.9632 23.1696V25.2434C51.9632 27.3741 50.1735 28.823 47.9576 28.823Z"
            fill="#1453FF"></path>
        <path
            d="M66.5655 41.1809C71.5655 41.1809 74.0513 38.6525 75.2587 35.0872L83.4831 11.1951L76.1678 11.1809L72.0911 26.7491H71.8638L67.8439 11.1809H60.5712L68.3269 33.7946L68.057 34.448C67.3894 36.0815 65.8837 36.1099 63.8382 35.4423L62.3042 40.4849C63.3553 40.911 64.9036 41.1809 66.5655 41.1809Z"
            fill="#1453FF"></path>
        <path
            d="M95.6422 33.411C101.367 33.411 105.131 30.6412 105.926 26.3514L99.5485 26.1667C99.0087 27.6156 97.5882 28.3968 95.7701 28.3968C93.0996 28.3968 91.4519 26.6213 91.4519 23.9508V23.7662H105.997V22.0332C105.997 14.8457 101.622 10.8968 95.4292 10.8968C88.8382 10.8968 84.6053 15.4139 84.6053 22.1752C84.6053 29.1639 88.7814 33.411 95.6422 33.411ZM91.4519 19.7321C91.5513 17.5588 93.2701 15.911 95.5712 15.911C97.8581 15.911 99.5059 17.502 99.5343 19.7321H91.4519Z"
            fill="#1453FF"></path>
        <path
            d="M109.545 32.9991H116.491V21.1525C116.491 18.5531 118.338 16.8059 120.823 16.8059C121.647 16.8059 122.883 16.948 123.551 17.1752V11.1383C122.968 10.9821 122.244 10.8826 121.605 10.8826C119.218 10.8826 117.315 12.2747 116.519 15.1582H116.292V11.1809H109.545V32.9991Z"
            fill="#1453FF"></path>


        <g opacity="0.5">
            <path
                d="M21.1445 21.8759C23.5015 20.1338 24.8298 17.3897 24.8298 13.9792C24.8298 12.2299 24.4809 10.6422 23.8237 9.27129L21.1445 21.8759Z"
                fill="white"></path>
            <path d="M28.2957 26.7104L33.1424 3.9082H28.2957V26.7104Z" fill="white"></path>
            <path d="M33.093 33L35.2417 32.9991V22.8912L33.093 33Z" fill="white"></path>
            <path
                d="M41.4177 32.313L43.9118 20.5792C40.8578 21.3822 38.6401 23.2055 38.6401 26.948C38.6401 29.5061 39.692 31.2866 41.4177 32.313Z"
                fill="white"></path>
            <path d="M44.4587 18.0064L45.8935 11.2563C42.0754 12.1579 39.8896 14.6709 39.4498 17.8287L44.4587 18.0064Z"
                fill="white"></path>
        </g>
    </svg>

    <svg class="svg-logo-small" focusable="false" aria-hidden="true" viewBox="0 0 34 42" fill="none" cursor="pointer">
        <path
            d="M0.201172 32.9991H7.23242V23.965H12.0051C18.6671 23.965 22.829 20.0162 22.829 13.9792C22.829 7.99911 18.7523 3.9082 12.2182 3.9082H0.201172V32.9991ZM7.23242 18.4252V9.57582H10.6983C13.8517 9.57582 15.5421 11.2804 15.5421 13.9792C15.5421 16.6639 13.8517 18.4252 10.6983 18.4252H7.23242Z"
            fill="#1453FF"></path>
        <path d="M33.2409 3.9082H26.2949V32.9991H33.2409V3.9082Z" fill="#1453FF"></path>
        <g opacity="0.5">
            <path
                d="M19.1445 21.8759C21.5015 20.1338 22.8298 17.3897 22.8298 13.9792C22.8298 12.2299 22.4809 10.6422 21.8237 9.27129L19.1445 21.8759Z"
                fill="white"></path>
            <path d="M26.2957 26.7104L31.1424 3.9082H26.2957V26.7104Z" fill="white"></path>
            <path d="M31.093 33L33.2417 32.9991V22.8912L31.093 33Z" fill="white"></path>
        </g>
    </svg>

    <div class="icon-container-box">
        <svg class="svg-class" viewBox="0 0 24 24">
            <path
                d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z" />
        </svg>
        <p>Поиск</p>
    </div>

    <div class="icon-container-box">
        <svg class="svg-class" viewBox="0 0 24 24">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM11 11V7H13V11H17V13H13V17H11V13H7V11H11Z"
                fill="currentColor"></path>
        </svg>

        <p>Продать</p>

    </div>

    <div class="icon-container-box">
        <svg class="svg-class" viewBox="0 0 24 24">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M21 4H3V17H6V20L7.62469 20.7809L12.3508 17H21V4ZM10 10.5C10 11.3284 9.32843 12 8.5 12C7.67157 12 7 11.3284 7 10.5C7 9.67157 7.67157 9 8.5 9C9.32843 9 10 9.67157 10 10.5ZM15.5 12C16.3284 12 17 11.3284 17 10.5C17 9.67157 16.3284 9 15.5 9C14.6716 9 14 9.67157 14 10.5C14 11.3284 14.6716 12 15.5 12Z"
                fill="currentColor"></path>
        </svg>

        <p>Чаты</p>

    </div>

    <div class="icon-container-box">
        <svg class="svg-class" viewBox="0 0 24 24">
            <circle cx="12" cy="12" r="10" stroke-width="2" fill="none"></circle>
            <circle id="cr1" cx="12" cy="10" r="4"></circle>
            <path
                d="M19 20L18.058 18.43C16.7812 16.302 14.4816 15 12 15C9.51841 15 7.21878 16.302 5.94202 18.43L5 20L12 22L19 20Z"
                fill="currentColor"></path>
        </svg>
        <p>Профиль</p>
    </div>
</div>